*{
    margin: 0;
    padding: 0;
    
}
ul {
  z-index: 100;
  background-color: cornflowerblue;
  margin-top: auto;
  position: fixed;
  width: 100%;
  font-size: 20px;
    /* list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(45, 235, 235); */
  }
  
  li {
    display: inline;
  }
  
  ul li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  ul li a:hover{
    background-color:brown;
  }
  
  /* a:hover{
    background-color: brown;
  } */
  
  .gambar img{
    width: 200px;
    height: 200px;
    margin-top: 60px;
    display: inline-block;
    transition: 0.4s ease all;
    margin-left: 10px;
    margin-right: 12px;
  }
  .gambar{
    position: absolute;
    top: 0;
    left: 0;

  }
  .gambar img:hover{
    transform: scale(1.2);
    overflow: hidden;
  }
  